#!/bin/sh

inputfile=$(echo '{{var.inputfile}}' | gawk '{match($0, "(^.*)\\.(.*$)", a); print a[1] "_{{var.chunk}}_0." a[2]}')
stdout=$(echo '{{var.stdout}}' | gawk '{match($0, "(^.*)\\.(.*$)", a); print a[1] "_{{var.chunk}}_0." a[2]}')
stderr=$(echo '{{var.stderr}}' | gawk '{match($0, "(^.*)\\.(.*$)", a); print a[1] "_{{var.chunk}}_0." a[2]}')
# echo $inputfile
# echo $stderr
# echo $stdout
/usr/bin/time -f "###Runtime %e %U %S ###" uvspec <  $inputfile 2>$stderr 1>$stdout
